<div>
  <div>
    <%= image_tag(certificate.institution_logo_url, style: "height: 160px; width: 160px; margin-left: 570px; margin-top: 70px") %>
  </div>
  <div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center">
    <p style="line-height: 32px; font-weight: bold; font-size: 35px;"><%= certificate.institution_name %></p>
    <p style="margin: -10px auto; width: 80%; font-family: 'Cookie', cursive; font-weight: 100 !important; font-size: 30px;"><%= certificate.description %></p>
    <p style="margin-bottom: -10px; font-size: 30px; font-weight: bold;"><%= certificate.major %></p>
    <p style="font-size: 25px;">to</p>
    <p style="margin-top: -10px; font-size: 30px; font-weight: bold;"><%= certificate.awarded_to %></p>
    <p style="font-size: 20px;">who has satisfied the Examiners in the Final examinations for the degree with
      distinction </p>
  </div>

  <div style="margin: 0 auto; width: 80%;">
    <div>
      <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/a/ad/Wonho-Signature.svg", style: "margin-left: 65px; margin-top: 30px; height: 100px; width: 100px") %>
      <p style="margin-left: 55px;"><%= Date.current %></p>
      <p style="margin-left: 55px;">Registrar and Secretary</p>
    </div>

    <div>
      <% if certificate.qr_code_url.present? %>
        <%= image_tag("http://localhost:3000/#{certificate.qr_code_url}", style: "margin-left: 750px; margin-top: -1000px; height: 200px; width: 200px;") %>
        <p style="margin-left: 750px; margin-top: -40px;">Scan to view your NFT certificate</p>
      <% end %>
    </div>
  </div>
</div>