<div >
  <div>
    <%= image_tag(certificate.institution_logo_url, style: "height: 300px; width: 300px; margin-left: 300px; margin-top: 50px") %>
  </div>
  <div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center">
    <p style="font-family: Sans-Serif; font-weight: bold; font-size: 50px;"><%= certificate.institution_name %></p>
    <p style="margin: 0 auto; width: 80%; font-family: 'Oleo Script', cursive; font-weight: 100 !important; font-size: 30px;"><%= certificate.description %></p>
    <p style="font-size: 30px;"><%= certificate.major %></p>
    <p style="font-size: 20px;">to</p>
    <p style="font-size: 30px;"><%= certificate.awarded_to %></p>
    <p style="font-size: 20px;">who has satisfied the Examiners in the Final examinations for the degree with distinction </p>
  </div>

  <div>
    <div style="width: 80%; margin: 0 auto;">
      <div>
        <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/a/ad/Wonho-Signature.svg", style: "margin-left: 80px; margin-top: 50px; height: 100px; width: 100px") %>
        <p style="margin-left: 80px;"><%= Date.current %></p>
        <p style="margin-left: 80px;">Registrar and Secretary</p>
      </div>
    </div>
  </div>
</div>