<div >
  <div>
    <%= image_tag(certificate.institution_logo_url, style: "height: 300px; width: 300px; margin-left: 300px; margin-top: 50px") %>
  </div>
  <div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center">
    <p style="font-family: Sans-Serif; font-weight: bold; font-size: 50px"><%= certificate.institution_name %></p>
    <p><%= certificate.description %></p>
    <p><%= certificate.major %></p>
    <p>to</p>
    <p><%= certificate.awarded_to %></p>
    <p>who has satisfied the Examiners in the Final examinations for the degree with distinction </p>
  </div>

  <div>
    <div>
      <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/a/ad/Wonho-Signature.svg", style: "height: 100px; width: 100px") %>
      <p><%= Date.current %></p>
      <p>Registrar and Secretary</p>
    </div>
  </div>
</div>