<div>
  <div>
    <%= image_tag("https://cert-tainty.vercel.app/assets/hacket-small.png") %>
    <p>Build For Change</p>
  </div>
  <div>
    <p>To Whom it may concern</p>
    <p><%= DateTime.now %></p>
  </div>

  <div>
    <p>Letter Of Recommendation</p>
  </div>

  <div>
    <p><%= recommendation.message %></p>
  </div>

  <div>
    <div>
      <p>Sincerely</p>
      <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/a/ad/Wonho-Signature.svg") %>
      <p><%= DateTime.current %></p>
      <p>Registrar and Secretary</p>
    </div>

    <div>
      <%= image_tag("https://i.ibb.co/553Nm2s/letter.png") %>
    </div>
  </div>
</div>